
.income-body{
  background-color: var(--darkgray);
  display: grid;
  grid-template-columns: 18% 80%;
  grid-column-gap: 1.5%;
  grid-row-gap: 2vh;
  min-height: 100vh;
  color: var(--textlight);
}

.in-report-body{
  display: flex;
  height: 95%;
}

.in-report-card{
  width: 99%;
margin-top: 22px; 
 background-color: var(--lightgray);
  border-radius: 35px ;
  height: 100%;
}

.in-report-card h1{
  font-size: 2vh;
}

.income-left {
  grid-column: 1;
}

.income-right {
  grid-column: 2;
  height: 100%;
}