.expenses-body{
  background-color: rgba(209, 201, 201, 0.536);
  display: grid;
  grid-template-columns: 18% 80%;
  grid-column-gap: 1.5%;
  grid-row-gap: 2vh;
  min-height: 100vh;
  color: var(--textlight);
}

.ex-report-body{
  display: flex;
  height: 95%;
}
.ex-report-card{
  width: 99%;
margin-top: 22px; 
 background-color: var(--lightgray);
  border-radius: 35px ;
  height: 100%;
}

.ex-report-card h1{
 font-size: 2vh;
}

.expenses-left {
  grid-column: 1;
}

.expenses-right {
  grid-column: 2;
  height: 100%;
}


