.main-body{
  text-align: center;
  background-color: rgba(245, 240, 240, 0.666);
}



h1{
  text-align: center;
}

*{
  transition: .1s;
}


@media all and (max-width:750px){

  .R-left {
    background: red;
  }
}