.users-body{
  background-color: rgba(209, 201, 201, 0.536);
  display: grid;
  grid-template-columns: 18% 80%;
  grid-column-gap: 1.5%;
  grid-row-gap: 2vh;
  min-height: 100vh;
}

.users-report-body{
  display: flex;
  height: 95%;
}

.users-report-card{
  width: 99%;
margin-top: 22px; 
 background-color: #ffffff9c;
  border-radius: 35px ;
  height: 100%;
}

.users-report-card h1{
  font-size: 2vh;
}

.users-left{
  grid-column: 1;
}

.users-right {
  grid-column: 2;
  height: 100%;
}