.users-body{
  background-color: rgba(209, 201, 201, 0.536);
  display: grid;
  grid-template-columns: 18% 82%;
  min-height: 100vh;
}

.users-report-body{
  display: flex;
  height: 95%;
}

.users-report-card{
  width: 99%;
margin-top: 22px; 
 background-color: #ffffff9c;
  border-radius: 35px ;
  height: 100%;
}

.users-report-card h1{
  font-size: 2vh;
}

.users-left{
  grid-column: 1;
}

.users-right {
  grid-column: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.users-header,
.users-main {
    padding: 34px;
    background-color: var(--admlight);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    color: var(--textlight);
}

.users-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}

.users-form div {
  display: flex;
  flex-direction: column;
}

.users-form input {
  padding: 15px;
}

.usr-frm-sbmt {
  width: 100%;
  padding: 10px;
}

.users-main div {
  width: 90%;
  display: grid;
  /* grid-template-columns: 9vw 20vw 3vw 6vw 6vw; */
  grid-template-columns: 10% 45% 5% 15% 15%;
  grid-gap: 1vw;
  align-items: center;
  text-align: center;
  border: 1px solid gray;
  border-top: none;
}

.users-main div:first-child {
  border-top: 1px solid gray;
}

.tbl-btn {
  height: 50%;
  margin: 0 auto;
}

.users-h2 {
  padding-left: 34px;
    height: 40px;
    background-color: rgb(179 179 179);
    margin: 0;
    display: flex;
    align-items: center;
}

.edit-form form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.edit-form form div {
  display: flex;
  flex-direction: column;
}

.users-main {
  height: 55vh;
  overflow: scroll;

}

.edit-form input {
  padding: 10px;
}

.edit-form {
  padding: 50px;
  float: left;
  position: absolute;
  left: 50vw;
  color: var(--textlight);
}

.users-main{
  scrollbar-width: none;
}

.users-main::-webkit-scrollbar {
  display: none;
}